{{ define "main" }}
<div id="content">
    <div class="header">
        <h1>David García - Currículum Vitae</h1>
    </div>

    <div class="cv-section">
        <h2>Experiencia Profesional</h2>
        <p>Tu experiencia aquí...</p>
        
        <h2>Educación</h2>
        <p>Tus estudios aquí...</p>
    </div>

    <hr>

    <div style="text-align: center; margin-top: 50px; background-color: #f0f0f0; padding: 20px;">
        <p>Este currículum ha sido visitado <span id="vistas" style="font-weight: bold; color: #ff9900;">...</span> veces.</p>
    </div>

    <script>
      const urlApi = 'https://j9dtfuvsaa.execute-api.us-east-1.amazonaws.com/visitorCounter';
      async function actualizarContador() {
        try {
          const respuesta = await fetch(urlApi);
          const datos = await respuesta.json();
          document.getElementById('vistas').innerText = datos.count;
        } catch (error) {
          console.error("Error:", error);
          document.getElementById('vistas').innerText = "error";
        }
      }
      actualizarContador();
    </script>
</div>
{{ end }}
